/*
th, td {
	padding: 0.2em;
	border: 1px solid cornflowerblue;
}
td {
	text-align: center;
}
*/

/* ul, form {
	display: inline-block;
} */

input {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.proyectForm input[readonly]{
	background-color: transparent;
	text-align: left;
}
