<div class="container">
	<div class="row">
		<div class="col-12 d-flex aling-items-start">

			<form [formGroup]="registerImputations" class="proyectForm m-2 text-center">
				<h5>Proyectos</h5>
				<input type="text" name="project1" value="Proyecto1" readonly class="form-control mb-2">
				<input type="text" name="project2" value="Proyecto2" readonly class="form-control mb-2">
				<input type="text" name="project3" value="Proyecto3" readonly class="form-control mb-2">
				<input type="text" name="project4" value="Proyecto4" readonly class="form-control mb-2">
				<input type="text" name="project5" value="Proyecto5" readonly class="form-control mb-2">
			</form>

			<form [formGroup]="registerImputations" class="m-2 text-center">
				<h5>Lunes</h5>
				<input type="hidden" name="monday" value="Lunes" class="form-control">
				<input type="number" name="project1" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project2" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project3" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project4" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project5" id="" min="0" max="9" class="form-control mb-2">
				<input type="submit" value="Guardar" class="btn btn-success w-100 p-1 mb-2 text-center">
				<p>No enviado</p>
			</form>
			
			<form [formGroup]="registerImputations" class="m-2 text-center">
				<h5>Martes</h5>
				<input type="hidden" name="monday" value="Martes" class="form-control">
				<input type="number" name="project1" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project2" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project3" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project4" id="" min="0" max="9" class="form-control mb-2">
				<input type="number" name="project5" id="" min="0" max="9" class="form-control mb-2">
				<input type="submit" value="Guardar" class="btn btn-success w-100 p-1 mb-2">
				<p>No enviado</p>
			</form>

		</div>
	</div>
</div>