<div class="container">
	<div class="row">
		<div class="col-12 d-flex aling-items-start">

			<form #registerImputations="ngForm" class="m-2 text-center" (ngSubmit)="OnRegisterImputations(registerImputations)">
				<table class="table">
					<thead>
						<th>#</th>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miércoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>Sábado</th>
						<th>Domingo</th>
					</thead>
					<tbody>
						<tr>
							<th>Proyecto1</th>
							<td><input type="number" name="1-lunes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-martes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-miercoles" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-jueves" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-viernes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-sabado" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="1-domingo" min="0" max="9" class="form-control" ngModel></td>
						</tr>
						<tr>
							<th>Proyecto2</th>
							<td><input type="number" name="2-lunes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-martes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-miercoles" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-jueves" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-viernes" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-sabado" min="0" max="9" class="form-control" ngModel></td>
							<td><input type="number" name="2-domingo" min="0" max="9" class="form-control" ngModel></td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Guardar" class="btn btn-success btn-lg">
			</form>
		
		</div>
	</div>
</div>