input {
	min-width: 4em;
	text-align: center;
}

.nombreProyecto {
	/* min-width: 20em; */
	font-size: 0.9em;
}

.underMinimun {
	background-color: #ff9999;
}

.overMinimun {
	background-color: transparent;
}