<select class="form-select" aria-label="Default select example">
  <option selected>Proyectos</option>
  <option value="1">Proyecto 1</option>
  <option value="2">Proyecto 2</option>
  <option value="3">Proyecto 3</option>
  <option value="4">Proyecto 4</option>
  <option value="5">Proyecto 5</option>
  <option value="6">Proyecto 6</option>
  <option value="7">Proyecto 7</option>
  <option value="8">Proyecto 8</option>
  <option value="9">Proyecto 9</option>
  <option value="10">Proyecto 10</option>
  <option value="11">Proyecto 11</option>
  <option value="12">Proyecto 12</option>
  <option value="13">Proyecto 13</option>
  <option value="14">Proyecto 14</option>
  <option value="15">Proyecto 15</option>
</select>