<div class="container">
  <div class="row">

    <div class="col-12">
      <!--OUTPUT para enviar los proyectos seleccionados a check.component -->
      <app-check-project (projectSelected)="getProjectSelected($event)"></app-check-project>
    </div>

    <div class="col-12">

      <!-- INPUT carga un proyecto, OUTPUT aprobar uno, OUTPUT aprobar todos-->
      <app-check-imputation-table [currentProject]="currentProjectFather" (statusChange)="OnStatusChanged($event)" (approveAll)="OnApproveAll()"></app-check-imputation-table>
    </div>

  </div>
</div>