<div class="container text-center">
  <!-- Mostramos la fecha y semana actuales -->
  <hr class="my-5">

  <p>
    Fecha: {{dateNow}}
    <br>
    Semana actual: {{weekNow}}
  </p>

  <form [formGroup]="weekForm" class="d-flex justify-content-center">
    <select formControlName="week" class="form-select">
      <!-- Pintamos las semanas en las opciones del selector -->
      <!-- Iterando weeks y hallando su indice -->
      <option *ngFor="let week of weeks; let i = index" [value]="i + 1">Semana {{i +1}}</option>
    </select>
  </form>

</div>