<div class="container ms-auto p-1">
  <!-- Mostramos la fecha y semana actuales -->
  <p>Fecha: {{dateNow}}</p>
  <p>Semana actual: {{weekNow}}</p>

  <form [formGroup]="weekForm">
    <select formControlName="week">
      <!-- Pintamos las semanas en las opciones del selector -->
      <!-- Iterando weeks y hallando su indice -->
      <option *ngFor="let week of weeks; let i = index" [value]="i + 1">Semana {{i +1}}</option>
    </select>
  </form>

</div>














<!-- <select class="form-select" (click)="getWeek()" aria-label="Default select example">
    <option selected>Elige semana</option>
    <option value="1">Semana 1</option>
    <option value="2">Semana 2</option>
    <option value="3">Semana 3</option>
    <option value="4">Semana 4</option>
    <option value="5">Semana 5</option>
    <option value="6">Semana 6</option>
    <option value="7">Semana 7</option>
    <option value="8">Semana 8</option>
    <option value="9">Semana 9</option>
    <option value="10">Semana 10</option>
    <option value="11">Semana 11</option>
    <option value="12">Semana 12</option>
    <option value="13">Semana 13</option>
    <option value="14">Semana 14</option>
    <option value="15">Semana 15</option>
    <option value="16">Semana 16</option>
    <option value="17">Semana 17</option>
    <option value="18">Semana 18</option>
    <option value="19">Semana 19</option>
    <option value="20">Semana 20</option>
    <option value="21">Semana 21</option>
    <option value="22">Semana 22</option>
    <option value="23">Semana 23</option>
    <option value="24">Semana 24</option>
    <option value="25">Semana 25</option>
    <option value="26">Semana 26</option>
    <option value="3">Semana 27</option>
    <option value="1">Semana 28</option>
    <option value="2">Semana 29</option>
    <option value="3">Semana 30</option>
    <option value="2">Semana 11</option>
    <option value="3">Semana 12</option>
    <option value="1">Semana 13</option>
    <option value="2">Semana 14</option>
    <option value="3">Semana 15</option>
    <option value="1">Semana 16</option>
    <option value="2">Semana 17</option>
    <option value="3">Semana 18</option>
    <option value="1">Semana 19</option>
    <option value="2">Semana 20</option>
    <option value="3">Semana 21</option>
    <option value="1">Semana 22</option>
    <option value="2">Semana 23</option>
    <option value="3">Semana 24</option>
    <option value="1">Semana 25</option>
    <option value="2">Semana 26</option>
    <option value="3">Semana 27</option>
    <option value="1">Semana 28</option>
    <option value="2">Semana 29</option>
    <option value="3">Semana 30</option>
    <option value="2">Semana 31</option>
    <option value="3">Semana 32</option>
    <option value="1">Semana 33</option>
    <option value="2">Semana 34</option>
    <option value="3">Semana 35</option>
    <option value="1">Semana 36</option>
    <option value="2">Semana 37</option>
    <option value="3">Semana 38</option>
    <option value="1">Semana 39</option>
    <option value="2">Semana 40</option>
    <option value="3">Semana 41</option>
    <option value="1">Semana 42</option>
    <option value="2">Semana 43</option>
    <option value="3">Semana 44</option>
    <option value="1">Semana 45</option>
    <option value="2">Semana 46</option>
    <option value="3">Semana 47</option>
    <option value="1">Semana 48</option>
    <option value="2">Semana 49</option>
    <option value="3">Semana 50</option>
    <option value="2">Semana 51</option>
    <option value="3">Semana 52</option>


  </select> -->
