<div class="container">
  <div class="row g-0">

    <div class="col-12 text-center">
      <h3 class="h3">{{ employee?.name }} {{ employee?.surname }}</h3>
      <h5 class="h6">{{ employee?.role?.role_Name }}</h5>
      <hr class="my-5">
    </div>

    <div class="col-12 mb-5">
      <!-- OUTPUT para enviar la semana seleccionada a imputation.component -->
      <app-calendar-week (selectWeek)="getWeek($event)"></app-calendar-week>
    </div>

    <div class="col-12">
      <!-- INPUT que recibe la semana seleccionada en imputation-table.component -->
      <app-imputation-table [imputationsWeek]="imputationsWeek" (datosGuardados)="recharge($event)"></app-imputation-table>
    </div>

  </div>
</div>